* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 80%;
  height: 80%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.sub {
  width: 20px;
  height: 20px;
  background-color: yellowgreen;
}

.sub:first-child {
  background: red;
}
.sub:last-child {
  background-color: yellow;
}
.sub:nth-child(5) {
  background-color: orange;
  padding: 50px;
}

@media (max-width: 600px) {
  .box {
    background: white;
  }
  body {
    background: #000;
  }
}
