* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/* .box {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: yellow;
  border: 2px solid black;
  transition-property: background-color;
  transition-delay: 1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  position: relative;
  top: 25%;
  left: 45%;
}
.box:hover {
  background-color: red;
  padding: 50px;
} */

.box {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: yellow;
  position: relative;
  top: 25%;
  left: 45%;
  animation-name: name;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border: 2px solid black;
}

@keyframes mov {
  0% {
    transform: rotate(0deg);
    left: 0;
    top: 0;
  }
  50% {
    /* left: 22.5%; */
  }
  100% {
    left: 100%;
    transform: rotate(360deg);
    top: 100%;
  }
}
@keyframes name {
  0% {
    transform: translateX(0);
    height: 400px;
    width: 100px;
    padding: 50px;
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
